<div class="app-portfolio" parallax>
  <div class="content-wrap">
    <h2 class="portfolio__title">our portfolio</h2>
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <img class="portfolio-item__image" src="/assets/Images/p1.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img class="portfolio-item__image" src="/assets/Images/p2.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img class="portfolio-item__image" src="/assets/Images/p3.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img class="portfolio-item__image" src="/assets/Images/p4.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img class="portfolio-item__image" src="/assets/Images/p5.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img class="portfolio-item__image" src="/assets/Images/p6.jpg" alt="">
      </div>
    </div>
  </div>
</div>
