<div class="app-contacts">
  <div class="overlay">
    <div class="content-wrap">
      <h2 class="contacts__title">contact us</h2>
      <p class="contacts__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

      <div class="contacts-list">

        <div class="contacts-list-item">
          <img class="list-item__icon" src="assets/Icons/phone-office-100.png" alt="">
          <h3 class="list-item__title">Customer Care</h3>
          <p class="list-item__desc">(+00) 123456789</p>
        </div>

        <div class="contacts-list-item">
          <img class="list-item__icon" src="assets/Icons/read-message-100.png" alt="">
          <h3 class="list-item__title">E-Mail</h3>
          <p class="list-item__desc">Hello@Arrowagency.com</p>
        </div>

        <div class="contacts-list-item">
          <img class="list-item__icon" src="assets/Images/twitter-100.png" alt="">
          <h3 class="list-item__title">Twitter</h3>
          <p class="list-item__desc">@ArrowAgency</p>
        </div>

        <div class="contacts-list-item">
          <img class="list-item__icon" src="assets/Images/facebook-100.png" alt="">
          <h3 class="list-item__title">Facebook</h3>
          <p class="list-item__desc">ArrowAgency</p>
        </div>

      </div>

      <p class="contacts-copyright">All Rights Reserved 2015 - Arrow Agency</p>
    </div>
  </div>
</div>
