<div class="app-team">
  <div class="content-wrap">
    <h2 class="team__title">our team</h2>
    <p class="team__description description-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    </p>
    <div class="team-list">
      <div class="team-list-item" style="background-image: url(/assets/Images/team1.jpg)">
        <div class="team-list-item__overlay">
          <div class="team-list-item-social">
            <div class="team-list-item-social__icon twitter"></div>
            <div class="team-list-item-social__icon linkedin"></div>
            <div class="team-list-item-social__icon instagram"></div>
          </div>
        </div>
      </div>
      <div class="team-list-item" style="background-image: url(/assets/Images/team2.jpg)">
        <div class="team-list-item__overlay">
          <div class="team-list-item-social">
            <div class="team-list-item-social__icon twitter"></div>
            <div class="team-list-item-social__icon linkedin"></div>
            <div class="team-list-item-social__icon instagram"></div>
          </div>
        </div>
      </div>
      <div class="team-list-item" style="background-image: url(/assets/Images/team3.jpg)">
        <div class="team-list-item__overlay">
          <div class="team-list-item-social">
            <div class="team-list-item-social__icon twitter"></div>
            <div class="team-list-item-social__icon linkedin"></div>
            <div class="team-list-item-social__icon instagram"></div>
          </div>
        </div>
      </div>
      <div class="team-list-item" style="background-image: url(/assets/Images/team4.jpg)">
        <div class="team-list-item__overlay">
          <div class="team-list-item-social">
            <div class="team-list-item-social__icon twitter"></div>
            <div class="team-list-item-social__icon linkedin"></div>
            <div class="team-list-item-social__icon instagram"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
