/* You can add global styles to this file, and also import other style files */
body
  margin: 0

p
  margin: 0

.fix
  max-width: 1140px


.logo-small
  color: red

@font-face
  font-family: "Raleway"
  src: url('/assets/Font/Raleway-Regular.otf') format('opentype')
